
# #############################################################################
# S4 classes and methods:
# #############################################################################
exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
#importFrom(RMySQL, MySQL)
importFrom(DBI, dbDriver, dbConnect, dbGetQuery, dbSendQuery, dbDisconnect)


